loaderui/distribution/config/xsdApp.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="App">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="crop"/>
        <xs:element name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="user_id"/>
              <xs:element type="xs:string" name="user_name"/>
              <xs:element type="xs:string" name="user_fullname"/>
              <xs:element type="xs:string" name="user_email"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="configDir"/>
        <xs:element type="xs:string" name="logFile"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>